# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Firebase Secrets and keys
*.json
!package.json
!package-lock.json

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
